<!DOCTYPE html>
<html>
<head>
    <title>준형이네 도서관</title>
	<style>
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
    </style>
</head>
<body>
	<div class="container">
    <h1>📖 관리자용 도서 관리 시스템 📖</h1>
	
    <hr>
	
    <h2>😀 멤버 추가 / 삭제</h2>
    <!-- 멤버 추가 폼 -->
    <form action="/add_member" method="post">
        이름: <input type="text" name="name" required>
        전화번호: <input type="text" name="phone" required>
        <input type="submit" value="멤버 추가">
    </form>

    <!-- 멤버 삭제 폼 -->
    <form action="/delete_member" method="post">
        이름: <input type="text" name="name" required>
        <input type="submit" value="멤버 삭제">
    </form>

    <h2>📘 책 추가 / 삭제</h2>
    <!-- 책 추가 폼 -->
	<form action="/add_book" method="post">
        책 제목: <input type="text" name="title" required>
        작가: <input type="text" name="author" required>
        <input type="submit" value="책 추가">
    </form>

	<!-- 책 삭제 폼 -->
	<form action="/delete_book" method="post">
        책 제목: <input type="text" name="title" required>
        작가: <input type="text" name="author" required>
        <input type="submit" value="책 삭제">
	</form>


    <h2>🎫 책 대출 / 반납</h2>
    <!-- 책 대출 폼 -->
	<form action="/borrow_book" method="post">
		멤버 이름: <input type="text" name="member_name" required>
		책 제목: <input type="text" name="title" required>
		<input type="submit" value="책 대출">
	</form>

	<!-- 책 반납 폼 -->
	<form action="/return_book" method="post">
		멤버 이름: <input type="text" name="member_name" required>
		책 제목: <input type="text" name="title" required>
		<input type="submit" value="책 반납">
	</form>
	
	<br>
	<hr>

    <h2>💬 멤버 정보</h2>
    <ul>
        {% for name, phone in members.items() %}
        <li>{{ name }}: {{ phone }}</li>
        {% endfor %}
    </ul>

    <h2>💬 책 정보</h2>
	<ul>
		{% for title, details in books.items() %}
		<li>{{ title }} by {{ details["작가"] }} - {{ details["상태"] }}</li>
		{% endfor %}
	</ul>

	</div>
</body>
</html>